I created my own list of words that got me to about 30% mislabeled data.
I tried adding allcaps and the lenght of the reviews, but those didn't move the data.
Finally, instead of trying to manually create a list, I used a list of words associated with positive reviews from Bing Lu, a UIC Chicago Computer Science researcher. This got me down to ~16% and worked just as well for all the datasets. 

The correlation matrix was unusable after adding a very long word list, so I dropped it from my analysis.

In [720]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import csv

In [721]:
amazon = pd.read_csv('amazon.txt', delimiter= '\t', header=None)
#import list of words associated with positive sentiments
words = pd.read_csv('words.txt', delimiter = '\n', header=None)


#Create column labels
amazon.columns = ['text', 'sentiment']

#turn df to list and get rid of first word as it's casuing problems.
words = words[0].tolist()
keywords = words[1:]



#remove capital letters
#amazon['text'] = amazon['text'].str.lower()


print(amazon.head(5))

                                                text  sentiment
0  So there is no way for me to plug it in here i...          0
1                        Good case, Excellent value.          1
2                             Great for the jawbone.          1
3  Tied to charger for conversations lasting more...          0
4                                  The mic is great.          1

In [722]:
for key in keywords:
    amazon[str(key)] = amazon.text.str.contains(
        str(key),
        case=False
    )

In [723]:

amazon['sentiment'] = (amazon['sentiment'] == 1)

In [724]:
amazon.head(5)

,text,sentiment,abound,abounds,abundance,abundant,accessable,accessible,acclaim,acclaimed,...,wowed,wowing,wows,yay,youthful,zeal,zenith,zest,zippy,allcaps
0,So there is no way for me to plug it in here i...,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,"Good case, Excellent value.",True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,Great for the jawbone.,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,Tied to charger for conversations lasting more...,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,The mic is great.,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [730]:
data = amazon[keywords]
target = amazon['sentiment']

In [731]:
# Our data is binary / boolean, so we're importing the Bernoulli classifier.
from sklearn.naive_bayes import BernoulliNB


# Instantiate our model and store it in a new variable.
bnb = BernoulliNB()

# Fit our model to the data.
bnb.fit(data, target)

# Classify, storing the result in a new variable.
y_pred = bnb.predict(data)

# Display our results.
print("Number of mislabeled points out of a total {} points : {}".format(
    data.shape[0],
    (target != y_pred).sum()
))

Number of mislabeled points out of a total 1000 points : 166

In [749]:
imdb = pd.read_csv('imdb_labelled.txt', delimiter= '\t', header=None)

#Create column labels
imdb.columns = ['text', 'sentiment']


imdb.head(5)

                                                text  sentiment
0  A very, very, very slow-moving, aimless movie ...          0
1  Not sure who was more lost - the flat characte...          0
2  Attempting artiness with black & white and cle...          0
3       Very little music or anything to speak of.            0
4  The best scene in the movie was when Gerardo i...          1

In [750]:
for key in keywords:
    imdb[str(key)] = imdb.text.str.contains(
        str(key),
        case=False
    )

In [751]:
imdb['sentiment'] = (imdb['sentiment'] == 1)
#imdb['allcaps'] = imdb.text.str.isupper()

In [752]:
data = imdb[keywords]
target = imdb['sentiment']

In [753]:
# Our data is binary / boolean, so we're importing the Bernoulli classifier.
from sklearn.naive_bayes import BernoulliNB


# Instantiate our model and store it in a new variable.
bnb = BernoulliNB()

# Fit our model to the data.
bnb.fit(data, target)

# Classify, storing the result in a new variable.
y_pred = bnb.predict(data)

# Display our results.
print("Number of mislabeled points out of a total {} points : {}".format(
    data.shape[0],
    (target != y_pred).sum()
))

Number of mislabeled points out of a total 748 points : 164

In [714]:
yelp = pd.read_csv('yelp_labelled.txt', delimiter= '\t', header=None)

#Create column labels
yelp.columns = ['text', 'sentiment']


yelp.head(5)

                                                text  sentiment
0                           Wow... Loved this place.          1
1                                 Crust is not good.          0
2          Not tasty and the texture was just nasty.          0
3  Stopped by during the late May bank holiday of...          1
4  The selection on the menu was great and so wer...          1

In [715]:
for key in keywords:
    yelp[str(key)] = yelp.text.str.contains(
        str(key),
        case=False
    )

In [716]:
yelp['sentiment'] = (yelp['sentiment'] == 1)

In [718]:
data = yelp[keywords]
target = yelp['sentiment']

In [719]:
# Our data is binary / boolean, so we're importing the Bernoulli classifier.
from sklearn.naive_bayes import BernoulliNB


# Instantiate our model and store it in a new variable.
bnb = BernoulliNB()

# Fit our model to the data.
bnb.fit(data, target)

# Classify, storing the result in a new variable.
y_pred = bnb.predict(data)

# Display our results.
print("Number of mislabeled points out of a total {} points : {}".format(
    data.shape[0],
    (target != y_pred).sum()
))

Number of mislabeled points out of a total 1000 points : 186